@import "scss/mixins.scss";
@import "scss/constants.scss";

.cell {   
  z-index: 2;
  border: 1px black solid;
  background: white;
  color: $orange;
  width: $cell;
  height: $cell;
  position: absolute;
  font-size: 2rem;
  @include box();
  @include box-sizing();
}

@for $x from 1 through $grid-row-cells {
  @for $y from 1 through $grid-row-cells {
    .cell-coordinates-#{$x}-#{$y} {
      left: floor($cell * $x) - $cell;
      top: floor($cell * $y) - $cell;
    }
  }
}

@for $prev from 1 through $grid-row-cells {
  @for $next from 1 through $grid-row-cells {
    @each $direction in $moving {
      .#{$direction}-from-#{$prev}-to-#{$next} {
        @include animation(#{$direction}-from-#{$prev}-to-#{$next}, .4s);
      }
      @include keyframes(#{$direction}-from-#{$prev}-to-#{$next}) {
        from {
          #{$direction}: floor($cell * $prev) - $cell;
        }
        to {
          #{$direction}: floor($cell * $next) - $cell;
        }
      }
    }
  }
}