$field-width: 40vmax;
$alert-width: 45vmax;
$grid-row-cells: 4;
$cell: 10vmax;
$orange: #FD9727;
$moving: left top;

.cell {   
  background: white;
  width: $cell;
  height: $cell;
  position:absolute;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
  border: 1px black solid;
  color: $orange;
  z-index: 2;
}

.cell-active {
  background: transparent;
  box-sizing: border-box;
}


@for $x from 1 through $grid-row-cells {
  @for $y from 1 through $grid-row-cells {
    .cell-coordinates-#{$x}-#{$y} {
      left: floor($cell * $x) - $cell;
      top: floor($cell * $y) - $cell;
    }
  }
}

@for $prev from 1 through $grid-row-cells {
  @for $next from 1 through $grid-row-cells {
    @each $direction in $moving {
      .#{$direction}-from-#{$prev}-to-#{$next} {
        animation-duration: 0.4s;
        animation-name: #{$direction}-from-#{$prev}-to-#{$next};
        animation-fill-mode: forwards;
      }
      @keyframes #{$direction}-from-#{$prev}-to-#{$next} {
        from {
          #{$direction}: floor($cell * $prev) - $cell;
        }
        to {
          #{$direction}: floor($cell * $next) - $cell;
        }
      }
    }
  }
}