@import "scss/mixins.scss";
@import "scss/flex.scss";
@import "scss/constants.scss";

.game-container {
  width: 100vw;
  height: 100vh;
  @include common-flex(center, center);
  @include border-radius(2px);
  @include keyframes(win-alert) {
    from {  
      width: 0;
      height: 0;
      opacity: 0;
    }
    to {  
      width: $alert-width; 
      height: $alert-width; 
      opacity: 1;
    }
  }

  .button-base {
    -webkit-appearance: none;
    background: transparent;
    outline: none;
    color: white;
    margin: 1rem;
    border: none;
    @include border-radius(4px);
    @include transition();
  }

  button.main {
    @extend .button-base;
    background: #4054B2;
    position: absolute;
    padding: .3rem .8rem;
    letter-spacing: .1rem;
    top: 2rem;
    right: 2rem; 
  }

  .win {
    z-index: 3;
    position: absolute;
    height: $alert-width;
    width:  $alert-width;
    color: white;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    @include border-radius(3px);
    @include gradient(#fdc830, #f37335); 
    @include animation(win-alert, 0.7s);
    @include common-flex(center, center, column);
    button {
      @extend .button-base;
      border: 1px solid white;
      font-size: 1.2rem;
      padding: .8rem;
      text-transform: uppercase;
        
      &:hover {
        background: rgba(255,255,255,0.4);
      }
    }
  }
}
