@import "scss/mixins.scss";
@import "scss/constants.scss";

.field {
  position: relative;
  width: $field-width;
  height: $field-width;

  background-color: $orange;
  border: 1px black solid;
  @include box-sizing(border-box);
}